    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #00cc99;
    }

    html {
        font-size: 62.5%;
    }

    h2 {
        font-size: 2.2rem;
        color: #333;
        min-width: 29rem;
        width: 60%;
    }

    span {
        font-size: 1.9rem;
        width: 40%;
    }

    /* MAIN */

    .container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        min-width: 35rem;
        margin-left: auto;
        margin-right: auto;
        height: 80vh;
    }

    /* HEADER */

    .header {
        display: flex;
        margin-top: 3rem;
        min-width: 20rem;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    /* .header_config {
            display: flex;
            margin-top: 2.1rem;
            min-width: 35rem;
            text-align: center;
            width: 65%;
        } */

    .btn_return {
        width: 40%;
        min-width: 3.5rem;
        max-width: 4rem;
        margin-left: 1rem;
    }

    .img_return {
        width: 100%;
    }


    /* LOGO */

    .div_logo {
        width: 60%;
        height: 55%;
        min-width: 35rem;
    }

    .img_logo {
        width: 100%;
        height: 100%;
        min-width: 28rem;

    }

    /* LABEL */

    .div_label {
        width: 80%;
        padding: 1rem 0 1rem 0;
        border: 0.2rem solid blueviolet;
        border-radius: 1rem;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

    }

    .label_id {
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: baseline;

    }

    .label_name {
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: baseline;
    }

    .input-id {
        width: 100%;
        font-size: 1.7rem;
        margin-left: 0.5rem;

    }


    .input-name {
        width: 100%;
        font-size: 1.7rem;
        margin-left: 0.5rem;
    }

    /* BOTONES PLAY / PAUSE */

    .container_btn {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .btn {
        width: 50%;
        min-width: 22rem;
        background-color: #333;
        padding: 1rem 0.5rem;
        color: #fff;
        text-decoration: none;
        border-radius: 0.4rem;
        font-size: 1.7rem;
        transition: background-color 0.3s ease;
    }

    .btn-pause {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .btn-play {
        margin-bottom: 1rem;
    }


    .btn:hover {
        background-color: #666;
    }

    .btn-play::before {
        content: '\25B6';
        margin-right: 0.5rem;
    }

    .btn-pause::before {
        content: '\2016';
        margin-right: 0.5rem;
    }

    /* BOTONES CONFI, SOUND, EXIT */


    .btn_confi,
    .btn_sound,
    .btn_exit {
        width: 21%;
        border-radius: 2rem;
        padding-top: 2.5rem;
        text-decoration: none;
        display: none;
    }


    .img_confi,
    .img_sound,
    .img_exit {
        width: 30%;
    }


    /* PARA TABLETS */
    @media(min-width: 426px) {

        h2 {
            font-size: 3rem;
        }

        span {
            font-size: 2.5rem;
        }

        .btn_return {
            width: 19%;
            max-width: 90rem;
        }

        .img_return {
            width: 40%;
        }

        .label_id {
            width: 80%;
            display: flex;
            padding: 1rem;
            align-items: baseline;

        }

        .label_name {
            width: 80%;
            display: flex;
            padding: 1rem;
            align-items: baseline;
        }

        .input-id {
            width: 90%;
            font-size: 2.3rem;
            margin-left: 0.5rem;

        }

        .input-name {
            width: 90%;
            font-size: 2.3rem;
            margin-left: 0.5rem;
        }

        .btn {
            font-size: 2.3rem;
        }

    }