*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

h2 {
    font-size: 2.4rem;
    color: #333;
    margin: 0 auto;
}

.container{
    width: 30%;
    margin: 0 auto;
    margin-top: 2rem;

}
.logo {
    width: 100%;
}

.input-name {
    width: 10%;
    padding: 0.5rem;
    font-size: 1.6rem;
}

.btn-container {
    margin-top: 2rem;
    width: 30%;
}

